<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="shortcut icon" type="image/png" href="/img/favicon.png" /> -->

    <title>Natours | Exciting tours for adventurous people</title>

    <style type="text/css">
      .main_container {
        margin-top: 100px;
        background-color: #eee;
        padding: 50px 0px;
      }

      .logo-box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
      }

      .logo-image-box {
        width: 150px;
        height: 150px;
      }

      .logo-image-box img {
        width: 100%;
        height: 100%;
      }

      .containt_container h1 {
        color: red;
      }
    </style>
  </head>

  <body>
    <div class="main_container">
      <div class="logo-box">
        <div class="logo-image-box">
          <img class="" src="/img/logo.png" alt="company logo" />
        </div>
      </div>

      <diV class="containt_container">
        <h1>Welcome To Our Website</h1>
        <p>User Message dynimic :- <%= msg %></p>
        <p>
          for your Product some one send Enquires check the enquire and Grow
          your Business
        </p>
      </diV>
    </div>
  </body>
</html>
