<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <link rel="shortcut icon" type="image/png" href="/img/favicon.png" /> -->

    <title>Natours | Exciting tours for adventurous people</title>
  </head>

  <body>
    <div class="logo-box">
      <div class="logo-image-box">
        <img class="" src="/img/logo.png" alt="company logo" />
      </div>
    </div>
    <h1>Welcome To Our Website</h1>
    <p>
      for your Product some one send Enquires check the enquire and Grow your
      Business
    </p>
  </body>
</html>
